<div class="container">
  <div class="row">
    <div class="col">
     
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Piano</h1>
      <div class="list-group piano">
        <a (mouseenter)="reproducirSonido(1)" class="list-group-item-action" style="background-color: aqua;"></a>
        <a (click)="reproducirSonido(2)" class="list-group-item-action" style="background-color: blue;"></a>
        <a (click)="reproducirSonido(3)" class="list-group-item-action" style="background-color: purple;"></a>
        <a (click)="reproducirSonido(4)" class="list-group-item-action" style="background-color: red;"></a>
        <a (click)="reproducirSonido(5)" class="list-group-item-action" style="background-color: yellowgreen;"></a>
        <a (click)="reproducirSonido(6)" class="list-group-item-action" style="background-color: yellow;"></a>
        <a (click)="reproducirSonido(7)" class="list-group-item-action" style="background-color: orange;"></a>
      </div>
    </div>
  </div>
</div>